<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shollmann.igcparser">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".IGCViewerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FlightPreviewActivity"
            android:screenOrientation="portrait">
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:label="@string/app_name"
                android:priority="1000">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="*" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.igc" />
                <data android:pathPattern=".*\.Igc" />
                <data android:pathPattern=".*\.iGc" />
                <data android:pathPattern=".*\.igC" />
                <data android:pathPattern=".*\.IGc" />
                <data android:pathPattern=".*\.iGC" />
                <data android:pathPattern=".*\.IgC" />
                <data android:pathPattern=".*\.IGC" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:label="@string/app_name"
                android:priority="1000">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/vnd.flight+igc"
                    android:scheme="file" />
                <data
                    android:mimeType="application/vnd.flight+igc"
                    android:scheme="content" />
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="file" />
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="content" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FlightInformationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".ui.activity.SettingsActivity"-->
            <!--android:launchMode="singleTop"-->
            <!--android:screenOrientation="portrait" />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_KEY" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.shollmann.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>


</manifest>